@import 'utilities.scss';
@import 'variables.scss';
@import 'text.scss';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';

body {
  overflow-x: hidden;
}

main {
  background-color: $dark;
  height: 100%;
}

.owls-0 {
  * + * {
    margin-top: 0;
  }
}

.owls-1 {
  * + * {
    margin-top: 1em;
  }
}

.owls-2 {
  * + * {
    margin-top: 1.5em;
  }
}

.owls-3 {
  * + * {
    margin-top: 1.75em;
  }
}