@import 'utilities.scss';
@import 'variables.scss';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';

body {
  overflow-x: hidden;
}

main {
  background-color: $dark;
  height: 100%;
}
/*
.container {
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}*/