// COLOURS

$dark-blue: #1A475F;
$mid-blue: #487791;
$light-blue: #419ABB;
$deep-red: #C21D22;
$bright-red: #EE4627;
$dark-orange: #D87E0C;
$mid-orange: #DD812B;
$light-orange: #D58B4D;
$yellow: #DCBF02;
$dark-slate: #44535E;
$mid-slate: #798F8C;
$ice: #D9EBE9;
$white: #fff;
$black: #000;

// SKEWED SECTIONS
$angle: -4deg;
$tangent: 0.03492; /* tan(4°)/2 - provides padding required to 
                      keep content within the diagonal container */
$page-section-width: 75rem;
$skew-padding: calc(#{$tangent} * #{$page-section-width});