.page-section {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: $dark-blue;
  color: $white;
  z-index: 1;

  &__wrapper {
    position: relative;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 6rem;
    z-index: 1;
  }

  &__body-wrapper {
    padding: 2rem;
    background-color: $pale-navy;
    border: 1px outset $mid-slate;

    &:before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      margin-left: -2rem;
      margin-top: -1rem;
      border-radius: 100%;
      background-color: $light-blue;
      box-shadow: 0 0 100px 100px $light-blue;
      opacity: 0.5;
      z-index: -1;
    }
  }

  &--hero {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__gradient-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba($navy, 0.1);

    &--dark {
      background-image: linear-gradient($navy, rgba($navy, 0.15) 20%, rgba($navy, 0.1) 30%, rgba($navy, 0.05) 40%, transparent);
    }
  }

  &--bg-blue {
    background-color: $mid-blue;
    color: white;
  
    &:after {
      border-top-color: $mid-blue !important;
    }
  }
  
  &--bg-dark-blue {
    background-color: $dark-blue;
    color: white;
  
    &:after {
      border-top-color: $dark-blue !important;
    }
  }
  
  &--bg-white {
    background-color: $white;
    color: black;
  
    &:after {
      border-top-color: $white !important;
    }
  }
  
  &--bg-ice {
    background-color: $ice;
    color: black;
  
    &:after {
      border-top-color: $ice !important;
    }
  }
  
  &--bg-orange {
    background-color: $mid-orange;
    color: black;
  
    &:after {
      border-top-color: $mid-orange !important;
    }
  }
  
  &--bg-asphalt {
    background-color: lighten($dark-blue, 3%);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

    &:nth-child(even) {
      background-color: $dark-blue;
    }
  }

  &--bg-rock {
    background-color: darken($dark-blue, 2%);
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
  }

  &--bg-gravel {
    background-color: darken($dark-blue, 7%);
    background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  }
  
  &--bg-sky {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(-45deg, #ee9852, #ec7141, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      opacity: 0.8;
    }
  }
}

.page-section--skewed {
  position: relative;
  padding: $skew-padding 0;
  background-color: transparent;
  color: $white;
  z-index: 1;
  
  @include media-breakpoint-up(lg) { 
    top: -40px; 
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: skewY(-3deg);
    background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #ee9852, #ec7141, #23a6d5, #23d5ab);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
    transform: skewY(-3deg);
    opacity: 0.8;
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 6rem;
    z-index: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

